body{
	background-color: #fff !important
}
body, .MuiTypography-body1, .MuiInputLabel-formControl{
	font-family: 'Poppins', sans-serif!important
}
.MuiInputLabel-formControl{
	left: 11px!important;
	color: #5843BE!important
}
.chart .MuiInputLabel-formControl{
	left: 21px!important;
    color: #fff!important;
    top: -10px
}
.chart label + .MuiInput-formControl{
	margin-top: 0!important
}
.MuiInput-underline:before{
	content:none!important
}
.mobile-logo{
	display:none !important
}

/* Mobile media query */
@media all and (max-width: 767px) {
  .mobile-logo{
		display:inline-block!important
	}
  	.mobile-none{
		display:none!important
	}
  	.profile-area{
		float: right;
		margin: 10px 0
	}
}

/* Scrollbar CSS */
::-webkit-scrollbar {width: 10px;}
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #A6A6A6; border-radius: 10px;
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, .2)
}